body{
    background-color: red;
   margin: 0;
}
li {
text-decoration: none;
display: inline;





}

h1{
color: aqua;
text-align: center;

}

p{
    text-align: center;
    background-color: blueviolet;
}
